In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("transaction_df.parquet")

In [3]:
df.head()

          product  price    amount       place            datetime
0  Целебные травы    3.9  1.242125  Анор Лондо 2216-01-02 16:28:00
1  Целебные травы    3.9 -0.079689  Анор Лондо 2216-01-02 16:21:00
2  Целебные травы    3.9  0.882450  Анор Лондо 2216-01-02 03:03:00
3  Целебные травы    3.9  0.621377  Анор Лондо 2216-01-02 03:12:00
4  Целебные травы    3.9  1.367161  Анор Лондо 2216-01-02 05:33:00

In [4]:
# В качестве baseline - рекомендуем последнюю известную цену на каждый товар в каждом из городов.

In [5]:
df_baseline = []
for (place, product), place_product_df in df.groupby(["place", "product"]):
    temp_df = pd.DataFrame(range(1, 91), columns=["day_num"])
    temp_df["place"] = place
    temp_df["product"] = product
    temp_df["price"] = place_product_df.sort_values("datetime").iloc[-1]["price"]
    df_baseline.append(temp_df)
df_baseline = pd.concat(df_baseline)

In [6]:
df_baseline

    day_num       place         product  price
0         1  Анор Лондо  Целебные травы  13.63
1         2  Анор Лондо  Целебные травы  13.63
2         3  Анор Лондо  Целебные травы  13.63
3         4  Анор Лондо  Целебные травы  13.63
4         5  Анор Лондо  Целебные травы  13.63
..      ...         ...             ...    ...
85       86   Фалькония           Эстус   9.28
86       87   Фалькония           Эстус   9.28
87       88   Фалькония           Эстус   9.28
88       89   Фалькония           Эстус   9.28
89       90   Фалькония           Эстус   9.28

[1350 rows x 4 columns]

In [7]:
df_baseline.to_parquet("df_baseline.parquet")